.principal-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabec {
    display: flex;
    justify-content: center;
    background-color: blue;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: red;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: white;
}
